@import "fonts.css";

body {
  background: #ec008c;
  color: #fff;
  margin: 0;
}
h1.home{
  background: url(/images/HUGE-white.png)no-repeat center center;
  width: 60px;
  text-indent: -1000px;
  background-size: contain;
  margin: 12px 24px;
}
.huge {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  font: 10vmin/1 HUGEAvantGardeBold;
  /*letter-spacing: -0.06em;*/
  text-align: center;
}

#menuContainer {
  margin: 0;
  padding: 0;
}

  #menuContainer > li{
    list-style: none;
     position: relative;
     display: inline-block;
  }

  #menuContainer li a{
    display: block;
    padding: 24px;
    font: 1.2em HUGEAvantGardeBold;
    text-decoration: none;
    color: white;
  }

#menuContainer > li a:hover{
  color: #ec008c;
  background: white;
}
#menuContainer > li a.activeBtn{
   color: #ec008c;
  background: white;
}

nav .submenu{
    display: none;
    position: absolute;
    padding: 0;
  }
  nav .submenu li{
    list-style: none;
    background: white;
    padding: 0px;
    white-space: nowrap;
  }
  nav #menuContainer .submenu li a{
    font: 0.9em GalaxieCopernicusBook;
    color: black;
    padding: 12px 24px;
  }
  nav #menuContainer .submenu li a:hover{
    background: whitesmoke;
    color: #ec008c;
  }


    nav .submenu.show{
      display: block;

    }

section.portada{
  background: url(/images/background-image.jpg) center center;
  margin: auto;
  width: 100%;
  min-height: 640px;
  line-height: 1em;
  position: relative;
  z-index: -1;
}
section.contenido{
  background: white;
  color: black;
  font: 2vmin/2 GalaxieCopernicusBook;
  padding: 24px;
}

 ul#menuContainer {
  display: block;
  }
  ul#menuMobContainer{
    display: none;
  }
#courtain{
background: rgba(0, 0, 0, 0.5);
width: 100%;
height: 100%;
position: absolute;
display: none;
}

#courtain.show{
  display: block;
}


/*Mobile version-----------------------------*/
@media only screen and (max-width:50em) { 


  body{
    background: white;
    position: relative;
  }
  #menuContainer > li:nth-child(1){
    background: #ec008c;
    width: 180%;
    padding: 12px 24px;
    position: fixed;
    z-index: 4;
  }
/*  #menuContainer > li:nth-child(2){
    
  }*/

  ul#menuContainer {
    width: 100%;
    position: relative;

    }

  #menuContainer > li{
    display: block;
    background: white;
    width: 85%;


  }
  #menuContainer > li > a{
    color: black;
  }
  h1.home{
   margin: 0;
  }

  nav{
    z-index: 10;
    position: absolute;
    left: -340px;
    width: 400px;
  }

  nav .submenu{
    position: relative;
  }
  span.arrowSpan{
    display: block;

    border-color: #ec008c transparent;
    border-style: solid;
    border-width: 14px 14px 0px 14px;
    height: 0px;
    width: 0px;
    position: absolute;
    top: 24px;
    right: 24px;
  }
  .activeBtn span.arrowSpan{
      border-width: 0px 14px 14px 14px;
  }
  
  span#iconSpan{
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 14px;
    top: 14px;
    cursor: pointer;
  }

  span#iconSpan.showed{
    background: url(/images/toggle-close.svg) center center;
    left: 380px;
  }

  span#iconSpan.saved {
    background: url(/images/toggle-open.svg) center center;
    left: 364px;
  }

  #menuContainer > li a.activeBtn{
    color: black;
    background: white;
  }

  section.portada{
    max-height: 240px;
  }

#container {
  position: absolute;
  width: 100%;
}

#container.saved{
  left: 0px;
}
#container.showed{
  left: 340px;
}

}





