@import "fonts.css";

body {
  background: #ec008c;
  color: #fff;
  margin: 0;
}
h1.home{
  background: url(/images/HUGE-white.png)no-repeat center center;
  width: 60px;
  text-indent: -1000px;
  background-size: contain;
  margin: 12px 24px;
}
.huge {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  font: 10vmin/1 HUGEAvantGardeBold;
  /*letter-spacing: -0.06em;*/
  text-align: center;
}

#menuContainer {
  margin: 0;
  padding: 0;
}

  #menuContainer > li{
    list-style: none;
     position: relative;
     display: inline-block;
  }

  #menuContainer li a{
    display: block;
    padding: 24px;
    font: 2vmin/1 HUGEAvantGardeBold;
    text-decoration: none;
    color: white;
  }

#menuContainer > li a:hover{
  color: #ec008c;
  background: white;
}
#menuContainer > li a.activeMenu{
   color: #ec008c;
  background: white;
}

nav .submenu{
    display: none;
    position: absolute;
    padding: 0;
  }
  nav .submenu li{
    list-style: none;
    background: white;
    padding: 0px;
    white-space: nowrap;
  }
  nav #menuContainer .submenu li a{
    font: 2vmin/1 GalaxieCopernicusBook;
    color: black;
    padding: 12px 24px;
  }
  nav #menuContainer .submenu li a:hover{
    background: whitesmoke;
    color: #ec008c;
  }


    nav .submenu.show{
      display: block;

    }





section.portada{
  background: url(/images/background-image.jpg) center center;
  margin: auto;
  width: 100%;
  min-height: 640px;
  line-height: 1em;
  position: relative;
  z-index: -1;
}
section.contenido{
  background: white;
  color: black;
  font: 2vmin/2 GalaxieCopernicusBook;
  padding: 24px;
}


/*1280*/